{% extends 'temp/login.html' %}

{% block base %}
 	<form method="POST">
        {% csrf_token %}
 		<table align="center">
 			<tr>
{# 				<td>Username</td>#}
 				<td><input type="text" name="uname"  class="form-control" placeholder="UserName"><br></td>
 			</tr>
 			<tr>
{# 				<td>password</td>#}
 				<td><input type="password" name="pass"  class="form-control" placeholder="Password"><br></td>
 			</tr>
 			<tr>
 				<td><input type="submit" value="LOGIN" name="login" class="btn btn-primary"> </td>
 			</tr>
 		</table>
 	</form>

    <br>
    {% if msg %}

        <div class="well well-sm"><h4> {{ msg }}</h4></div>

    {% endif %}
 {% endblock %}